@charset "UTF-8";


/*
em HTML é id = em CSS é #
em HTML é class em CSS é .
*/


body{
    background-color: rgba(137, 43, 226, 0.726);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(98, 31, 160);
}

h1#principal{
    text-align: center;
    background-color: rgba(97, 40, 150, 0.449);
    color: white;
}

h2{
    color: rgb(65, 25, 103);
}

.basico{
    color: rgb(50, 28, 152);
    font-weight:bold ;
}

.intermediario{
 color: rgb(35, 31, 125);
}

.avancado{
 color: rgb(14, 12, 110);
}
.destaque{
    background-color:rgba(238, 105, 127, 0.805) ;
}