@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    --fonte1: Verdana, 'Geneva' , 'Thaoma' , sans-serif;
    --fonte2: 'Passion One' , cursive;
    --fonte3 : 'Shantell Sans' , cursvive;
    font-size: 2em;
    

}


*{
    margin: 0px;
    padding: 0px;
}

html, body {

    font-family: var(--fonte3);
    min-height: 100vh;
    background-color: white;
}

header {

    
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {

    font-family: var(--fonte3);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
}

header > p {

    display: inline-block;
    padding: 5px;
    padding-bottom: 50px;
}

header a,footer a{


    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {

    text-decoration: underline;
}

section {

    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
}

section > p {

    
    padding-bottom: 1em;
    
}



section.normal {

    background-color: white;
    color: black;
}

section.imagem {

    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 50px ;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

section.imagem > p {

    background-color: rgba(0, 0, 0, 0.235);
    color: white;
    text-shadow: black 1px 1px 0px;
    
}

#img01 {

    background-image: url('imagens/semear-conhecimentos.jpg');
}

#img02 {

    background-image: url('imagens/OIP.jpg');
}

footer {

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}