@charset "UTF_8";

*{
    font-family: Arial, Helvetica, sans-serif;
*/height: 100%;*/
}

p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(193, 155, 134, 0.71);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #F39209;
text-align:center ;
text-shadow:1px 1px 2px #bb7008a7 ;
}
h2{
color: #125189;
}
body{
background-image:linear-gradient(to right,#F1D8C9,#F2C3A7);
}