@charsetUTF-8


        body{
            background-color: cadetblue;
            font-family: Arial, Helvetica, sans-serif;
            font: size 20px;
                }
            h1{
             color: rgb(4, 72, 15);
    background-color: rgb(43, 226, 95);
            }
       h2{
        color: rgb(152, 237, 100);
       }
     p{
        text-align: justify;
     }
       